# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Alembic bytecode
alembic/**/__pycache__/
alembic/__pycache__/
app/__pycache__
app/**/__pycache__
app/**/**/__pycache__

# OS files
.DS_Store
Thumbs.db
